<!doctype html>
<html>
  <head>
    <title>Spotify real time app</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <div class="container">
      <div id="login">
        <h1>See what's playing:</h1>
        <a href="/login" class="btn btn-primary">Log in with Spotify</a>
      </div>
      <div id="loggedin">
        <div id="user-profile">
        </div>
        <div id="oauth">
        </div>

      </div>
    </div>
    <!-- <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io(); -->
    </script>
  </body>
</html>
