body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.info {
  max-width: max-content;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #333;
  color: white;
  align-items: center;
}

.text {
  margin-left: 1em;
}

.profilebar {
  width: 100vw;
  background: #222;
  color: white;
  display: flex;
  padding: 0.5em;
  justify-content: flex-end;
  box-sizing: border-box;
}

.profile-image {
  width: 4em;
  height: 100%;
  clip-path: circle(1.7em at center);
}
